/* 全局样式 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  /* 强制最小宽度 */
  min-width: 1366px;
}

.el-breadcrumb {
  padding-bottom: 20px;
  font-size: 12px;
}
/* ！important -> 覆盖 element-ui 样式 */
.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
.el-table {
  margin-top: 20px;
  font-size: 14px;
}
.el-cascader-panel {
  height: 400px;
}
